*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
   justify-content: space-evenly;
   
}
ul{
    justify-content: space-between;
    
}
ul li{
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    
}
.navbar{
    padding-top: 3rem;
    justify-content: space-between;
    
    width: 10rem;
    
    
}